<img alt="NetSuite Logo" style="width:212px;height:30px;margin:5px;padding:10px 10px 10px 25px"
     src="https://ci6.googleusercontent.com/proxy/bCzSjh1LSSusmZ2m55AtXNV2FV06zs8VjjM7ZJ5MMEmmw3NhouF_bRoBl3CwPqc_khoE1pXOmzqcr4kvDjTBvQidG1qAAfuWhrTvJO-iyw=s0-d-e1-ft#http://content.netsuite.com/images/logos/netsuite-reskin.png"
     class="CToWUd" data-bit="iit">
<div style="width:100%;text-align:center;background-color:#405980">
    <img alt="Info_Icon" style="height:80px;margin:20px auto"
         src="https://ci5.googleusercontent.com/proxy/WYsLj2QjZKwseg7_QiEzwsDzuNu0a1Y_lhFtnuPlwvk3BbiRLVgDImxlxjnktcCc1TbsAfMoxODXVRrZrS4o42X9bEhnem6fMOECe-zx89yv9Bs-IRyKeQ=s0-d-e1-ft#http://content.netsuite.com/images/icons/hcm/email/hcm_info_email.png"
         className="CToWUd" data-bit="iit">
    <div style="font-size:28px;color:white;padding-bottom:35px">
        {header}
    </div>
</div>
<div style="margin:20px 15px">
    <div style="font-size:13px;color:#333;width:100%;margin:auto;padding-left:25px">
        {body}
    </div>
</div>
<div style="margin:20px 15px">
    <div style="font-size:13px;color:#333;width:100%;margin:auto;padding-left:25px">
        <a href='app/accounting/transactions/purchreq.nl?id={recordid}' target="_blank">
            <button style="font-size:16px;color:white;background-color:#007bff;border-color:#007bff;border-radius:4px;border:1px;padding:16px">
                View Request
            </button>
        </a>
    </div>
</div>